.wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrapper button{
    padding: 10px 20px;
    background: #db490f;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.accordian{
    width: 500px;
}
.item{
    padding: 10px 20px;
    background: #db490f;
    margin-bottom: 10px;
    color: white;
}
.title{
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.content{
    color: white;
    height: auto;
}